.container {
    width: 992px;
}

.logo {
    height: 100px;
}

.logo-wrapper {
    float: left;
}

.nav {
    float: right;    
}

.menu-wrapper {
    clear:left;  
    text-align: center;        
    padding-left:480px;
}    
.menu li{
    float: left;
    padding: 2px 5px;
    border: 1px solid black;
    background-color:aliceblue; 
}