.container {
    width: 992px;
}

.logo {
    height: 100px;
}

.parent {
    display: inline-block;
}

.account {
    display: inline-block;
    vertical-align: top;
    float: right;e
}

li {
    display: inline;
}

li a:hover {
    background-color: #e6e6e6;
}