a {
    text-decoration: none;
    color: black;
}

.container {
    width: 992px;
}

.logo {
    height: 100px;
}

.logo-wrapper {
    float: left;
}

.account {
    float: right;    
}

.account li{
    display:inline;
    margin:0.5em;
}

.account a:hover {
    background-color: darkseagreen;
}

nav {
    clear:left;
    text-align:center;    
}

nav ul {
    display:inline-block;
}

nav li{
    float: left;
    padding: 10px;
    border: 2px solid black;
    background-color:aliceblue; 
    margin:0.5em;
}

.photo img{
    height: 100px;
    float: left;
    padding: 15px;
}

.status {
    clear: left;
    padding-top: 15px;
}

.description {
    padding: 20px;
}

.main {
    clear: left;
    padding: 35px;
    padding-bottom: 100px;
    border: 1px solid red;
}

.bottom-right {
    position: fixed;
    left: 720px;
    bottom: 10px;
    height; 80px;
    font-size: 18px;
    font-family: Arial;
    color: aquamarine;
}