a {    
    color: red;
}

.container {
    width: 992px;
}

.logo {
    height: 150px;
}

.parent {
    display: inline-block;
}

.account {
    display: inline;
    vertical-align: top;
    float: right;
}

.account li {
    display: inline;
    border-right: 1px solid black;
    padding-right: 4px;
    font-family: georgia;
}

.account li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #f5f5f5;
}

nav {
    text-align: center;
}

nav ul {
    display:inline-block;
}

nav ul li {
    float: left;
    background-color: #e0d0f0;
    padding: 5px 30px;
    border: 2px solid black;
    margin: 3px;
    font-family: georgia;
}

section {
    float: left;
    width: 70%;
}

aside {
    float: right;
}

.photo {
    height: 150px;
    float: left;
}

#name {
    float: left;
    clear: left;
    font-weight: bold;
    padding :5px 5px 5px 5px;
    border: 1px dotted blue;
}

p {
    font-family: georgia;
}

.user-wrapper {
    float: left;
}